.nav-user img {
	object-fit: cover;
}

img {
	object-fit: cover;
}

.user-image {
	width: 440px !important;
	height: 300px !important;
	background-size: cover;
    object-fit: cover;
}

.sub_box_css{
	flex: 0 auto !important;
	max-width: 25% !important;
}

.user_add{
	margin-top: -8px;
}

.setting_heading{
   color: #f30660;
}


@media(min-width: 1366px) {
  .col-lg-3.action_button {
    max-width: 25% !important;
  }
}
.box-shadow-none {
	box-shadow: none !important;
}


#basic-datatable{
	padding-top:25px !important;
}


::-moz-placeholder { 
	color:    #707377 !important;
	opacity:  1;
 }

 .bulk-action-dropdown{
	margin-top:-8px !important;
	margin-right:12px !important;
 }

 .chk-box-left{
	margin-left: 22px;
 }

 @-moz-document url-prefix() {
	.chk-box-left{
		margin-left: 36px;
	}
 }

 .chk-box-inner-left{
	margin-left: 20px;
 }

 .search-input::-webkit-input-placeholder {
    color:#444 !important;
}


.subscription_add{
	margin-top: -8px;
}

.sub-chk-box-left{
	margin-left:21px;
}

.top-btn{
	margin-top:-30px;
}